In [20]:
# Import pandas using the alias pd
import pandas as pd
homelessness = pd.read_csv('01. homelessness.csv')

# Print the head of the homelessness data
homelessness.head()

# # Print information about homelessness
# ____
# homelessness.info()

# # Print the shape of homelessness
# ____
homelessness.shape

# # Print a description of homelessness
# ____
homelessness.describe

<bound method NDFrame.describe of     Unnamed: 0              region                 state  individuals  \
0            0  East South Central               Alabama       2570.0
1            1             Pacific                Alaska       1434.0
2            2            Mountain               Arizona       7259.0
3            3  West South Central              Arkansas       2280.0
4            4             Pacific            California     109008.0
5            5            Mountain              Colorado       7607.0
6            6         New England           Connecticut       2280.0
7            7      South Atlantic              Delaware        708.0
8            8      South Atlantic  District of Columbia       3770.0
9            9      South Atlantic               Florida      21443.0
10          10      South Atlantic               Georgia       6943.0
11          11             Pacific                Hawaii       4131.0
12          12            Mountain                 Idaho       1297.0
13          13  East North Central              Illinois       6752.0
14          14  East North Central               Indiana       3776.0
15          15  West North Central                  Iowa       1711.0
16          16  West North Central                Kansas       1443.0
17          17  East South Central              Kentucky       2735.0
18          18  West South Central             Louisiana       2540.0
19          19         New England                 Maine       1450.0
20          20      South Atlantic              Maryland       4914.0
21          21         New England         Massachusetts       6811.0
22          22  East North Central              Michigan       5209.0
23          23  West North Central             Minnesota       3993.0
24          24  East South Central           Mississippi       1024.0
25          25  West North Central              Missouri       3776.0
26          26            Mountain               Montana        983.0
27          27  West North Central              Nebraska       1745.0
28          28            Mountain                Nevada       7058.0
29          29         New England         New Hampshire        835.0
30          30        Mid-Atlantic            New Jersey       6048.0
31          31            Mountain            New Mexico       1949.0
32          32        Mid-Atlantic              New York      39827.0
33          33      South Atlantic        North Carolina       6451.0
34          34  West North Central          North Dakota        467.0
35          35  East North Central                  Ohio       6929.0
36          36  West South Central              Oklahoma       2823.0
37          37             Pacific                Oregon      11139.0
38          38        Mid-Atlantic          Pennsylvania       8163.0
39          39         New England          Rhode Island        747.0
40          40      South Atlantic        South Carolina       3082.0
41          41  West North Central          South Dakota        836.0
42          42  East South Central             Tennessee       6139.0
43          43  West South Central                 Texas      19199.0
44          44            Mountain                  Utah       1904.0
45          45         New England               Vermont        780.0
46          46      South Atlantic              Virginia       3928.0
47          47             Pacific            Washington      16424.0
48          48      South Atlantic         West Virginia       1021.0
49          49  East North Central             Wisconsin       2740.0
50          50            Mountain               Wyoming        434.0

    family_members  state_pop
0            864.0    4887681
1            582.0     735139
2           2606.0    7158024
3            432.0    3009733
4          20964.0   39461588
5           3250.0    5691287
6           1696.0    3571520
7            374.0     965479
8           3134.0     701547
9           9587.0   21244317
10          2556.0   10511131
11          2399.0    1420593
12           715.0    1750536
13          3891.0   12723071
14          1482.0    6695497
15          1038.0    3148618
16           773.0    2911359
17           953.0    4461153
18           519.0    4659690
19          1066.0    1339057
20          2230.0    6035802
21         13257.0    6882635
22          3142.0    9984072
23          3250.0    5606249
24           328.0    2981020
25          2107.0    6121623
26           422.0    1060665
27           676.0    1925614
28           486.0    3027341
29           615.0    1353465
30          3350.0    8886025
31           602.0    2092741
32         52070.0   19530351
33          2817.0   10381615
34            75.0     758080
35          3320.0   11676341
36          1048.0    3940235
37          3337.0    4181886
38          5349.0   12800922
39           354.0    1058287
40           851.0    5084156
41           323.0     878698
42          1744.0    6771631
43          6111.0   28628666
44           972.0    3153550
45           511.0     624358
46          2047.0    8501286
47          5880.0    7523869
48           222.0    1804291
49          2167.0    5807406
50           205.0     577601  >

In [25]:
# Print the values of homelessness
# print(homelessness)

# Print the column index of homelessness
homelessness.columns

# Print the row index of homelessness
# homelessness.index

Index(['Unnamed: 0', 'region', 'state', 'individuals', 'family_members',
       'state_pop'],
      dtype='object')

1. Sort homelessness by the number of homeless individuals, from smallest to largest, and save this as homelessness_ind.
2. Print the head of the sorted DataFrame.

In [ ]:
# Sort homelessness by individual
homelessness_ind = ____

# Print the top few rows
print(____)

1. Sort homelessness by the number of homeless family_members in descending order, and save this as homelessness_fam.
2. Print the head of the sorted DataFrame.

In [ ]:
# Sort homelessness by descending family members
homelessness_fam = ____

# Print the top few rows
____

1. Sort homelessness first by region (ascending), and then by number of family members (descending). Save this as homelessness_reg_fam.
2. Print the head of the sorted DataFrame.

In [ ]:
# Sort homelessness by region, then descending family members
homelessness_reg_fam = ____

# Print the top few rows
____

1. Create a DataFrame called individuals that contains only the individuals column of homelessness.
2. Print the head of the result.

In [ ]:
# Select the individuals column
individuals = ____

# Print the head of the result
____

1. Create a DataFrame called state_fam that contains only the state and family_members columns of homelessness, in that order.
2. Print the head of the result.

In [ ]:
# Select the state and family_members columns
state_fam = ____

# Print the head of the result
____

1. Create a DataFrame called ind_state that contains the individuals and state columns of homelessness, in that order.
2. Print the head of the result.

In [ ]:
# Select only the individuals and state columns, in that order
ind_state = ____

# Print the head of the result
____

Filter homelessness for cases where the number of individuals is greater than ten thousand, assigning to ind_gt_10k. View the printed result.

In [ ]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = ____

# See the result
print(ind_gt_10k)

Filter homelessness for cases where the USA Census region is "Mountain", assigning to mountain_reg. View the printed result.

In [ ]:
# Filter for rows where region is Mountain
mountain_reg = ____

# See the result
____

Filter homelessness for cases where the number of family_members is less than one thousand and the region is "Pacific", assigning to fam_lt_1k_pac. View the printed result.

In [ ]:
# Filter for rows where family_members is less than 1000 
# and region is Pacific
fam_lt_1k_pac = ____

# See the result
print(fam_lt_1k_pac)

Filter homelessness for cases where the USA census region is "South Atlantic" or it is "Mid-Atlantic", assigning to south_mid_atlantic. View the printed result

In [ ]:
# Subset for rows in South Atlantic or Mid-Atlantic regions
south_mid_atlantic = ____

# See the result
print(south_mid_atlantic)

Filter homelessness for cases where the USA census state is in the list of Mojave states, canu, assigning to mojave_homelessness. View the printed result.

In [ ]:
# The Mojave Desert states
canu = ["California", "Arizona", "Nevada", "Utah"]

# Filter for rows in the Mojave Desert states
mojave_homelessness = ____

# See the result
print(mojave_homelessness)

1. Add a new column to homelessness, named total, containing the sum of the individuals and family_members columns.
2. Add another column to homelessness, named p_individuals, containing the proportion of homeless people in each state who are individuals.

In [ ]:
# Add total col as sum of individuals and family_members
____

# Add p_individuals col as proportion of individuals
____

# See the result
print(homelessness)

1. Add a column to homelessness, indiv_per_10k, containing the number of homeless individuals per ten thousand people in each state.
2. Subset rows where indiv_per_10k is higher than 20, assigning to high_homelessness.
3. Sort high_homelessness by descending indiv_per_10k, assigning to high_homelessness_srt.
4. Select only the state and indiv_per_10k columns of high_homelessness_srt and save as result. Look at the result.

In [ ]:
# Create indiv_per_10k col as homeless individuals per 10k state pop
homelessness["indiv_per_10k"] = 10000 * ____ / ____ 

# Subset rows for indiv_per_10k greater than 20
high_homelessness = ____

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt = ____

# From high_homelessness_srt, select the state and indiv_per_10k cols
result = ____

# See the result
print(result)